/* Colours */
html, body { margin: 0; padding: 0; /*background-color: linear-gradient(45deg, $gradient1, $gradient2); */ }

body { background-color: #000; color: white; }

.background-panel { width: 100%; height: 100%; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: #e91e63; background: -moz-linear-gradient(-45deg, #e91e63, 0%, #9c27b0 100%); background: -webkit-linear-gradient(-45deg, #e91e63 0%, #9c27b0 100%); background: linear-gradient(135deg, #e91e63 0%, #9c27b0 100%); }

nav { width: 100%; height: 80px; display: block; margin: 0; padding: 0; float: left; }

#nav-account { min-width: 30px; max-width: 50%; height: inherit; display: flex; flex-direction: row; justify-content: flex-end; float: right; margin: 0; padding: 0; }

#nav-account li { list-style: none; height: 40px; line-height: 40px; margin: 17px 17px; padding: 0 20px; min-width: 10px; border: 3px solid white; border-radius: 2px; cursor: pointer; transition: .2s; }

#nav-account li:hover { background-color: rgba(255, 255, 255, 0.2); text-shadow: 0 0 2px rgba(48, 48, 48, 0.2); }

#timeBox { width: 100%; height: 200px; position: fixed; top: calc(50% - 100px); display: block; }

#timeString { width: 100%; height: 160px; line-height: 160px; text-align: center; font-family: "Molot", sans-serif; font-size: 120px; text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); }

#dateString { width: 100%; height: 40px; line-height: 40px; text-align: center; font-family: "Molot", sans-serif; font-size: 26px; text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); }
